rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Black spots can be read by anyone, and written by anyone.
    match /black_spots/{spotId} {
      allow read, write: if true;
    }
  }
}
